.home {
  position: relative;
  background: linear-gradient(
      136deg,
      rgb(68, 132, 206),
      rgb(26, 215, 192),
      rgba(226, 138, 14, 0.842),
      rgb(155, 89, 182),
      rgb(255, 127, 127),
      rgb(236, 240, 241)
    )
    0% 0% / 1200% 1200%;
    min-height: 100dvh;
    animation: gradientAnimation 70s ease infinite;
    // padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    &__name {
      font-size: 6.02781696rem;
      text-align: center;
      font-weight: 200;
      // padding: 0 0.5rem;
      // border: 1px solid black;
      @media (max-width: '768px'){
        font-size: 4.566768125rem;

      }
    }
    &__text {
      min-height: 2.5rem;
      // border: 1px solid black;
      align-content: center;
      font-size: 1.2rem;
      text-align: center;
    }
    &__icons {
      padding: 3rem;
      
      // border: 1px solid black;
      // font-size: larger;
      svg {
        font-size: 3rem;
        margin-right: 1rem;
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
    }
    &__btn {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid white;
      background: transparent;
      color: white;
      cursor: pointer;
      &:hover {
        color: black;
        background: white;
      }
      // @include btn;
    }
}


@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0% 25%;
      }
      50% {
        background-position: 100% 75%;
      }
  }
